#projetos {
    background-color: white;
}

.projetos {
    padding-top: 90px;

}

.projetos h2, .projetos a {
    text-align: center;
    color: #318931;
}

.projetos h2 {
    padding-bottom: 70px;
}



.projetos a {
    display: inline;
}

.pro {
    background-color: #194a1d;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #a7a5a5;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: white;
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}



.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

@media (max-width:1200px) {
  .projetos{
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  #projetos {
      display: flex;
      justify-content: center;
  }

  .projetos-itens {
      flex-direction: column;
  }

}
@media (max-width:950px) {
    .pro {
        max-width: 300px;
    }

}
